hr { 
    display: block; 
    margin: 1em 0; 
    padding: 0;
    height: 1px; 
    border: 0; 
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff; 
}
/* Figures and images ==================================== */
article {
  img {
    max-width: 100%;
    height: auto;
    border-width: 0; 
    vertical-align: middle; 
    -ms-interpolation-mode: bicubic; 
    max-height: 400px;
    width: auto;
    display: block;
    margin: 2em auto;
    border: 3px solid @black;
  }
  figure {
    img {
      border: 0;
    }
  }
}
svg:not(:root) {
    overflow: hidden; 
}
.half {
  .container();
  .clearfix();
  img {
    .grid(12,6);
  }
  figcaption {
    .grid(12,12);
  }
}
.third {
  .container();
  .clearfix();
  img {
    .grid(12,4);
  }
  figcaption {
    .grid(12,12);
  }
}

.story-book {
	figure:nth-child(even) {
		float: right;
		background: linear-gradient(270deg, #ffd 95%, #eec 100%);
	}
	
	figure:nth-child(odd) {
		float: left;
		background: linear-gradient(90deg, #ffd 95%, #eec 100%);
	}
	
	figure {
		background-color: wheat;
		.grid(12, 6);
		margin-top: 10px;
		padding-bottom: 10px;
		
		figcaption {
			margin: 0 1.8em;
			position: relative;
			border: 2px solid #3a9116;
			padding: 5px 10px;
			border-radius: 5px;
			margin-top: -75px;
			height: 40px;
			color: #1e1d19;
			font-style: normal;
			margin-bottom: 10px;
			background: #fff6d8;
			font-family: sans-serif;
			text-align: left;
		}
		
		img {
			max-width: 90%;
			margin: 1em auto;
			min-height: 243px;
		}
	}
}
/* Buttons ============================================== */
.btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  .font-rem(14);
  background-color: @black;
  color: @white;
  border: 2px solid @black !important;
  .rounded(4px);
  &:visited {
    color: @white;
  }
  &:hover {
    background-color: @white;
    color: @black;
  }
  &:active {
    .translate(0, 2px);
  }
}
/* Well ================================================= */
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  .rounded(4px);
  .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));
}

/* Tables ============= */
td {
  border-bottom: 1px solid #eee;
  padding: 5px;
}
th {
  border-bottom: 3px double #eee;
  border-right: 4px solid white;
  vertical-align: bottom;
  padding: 5px;
}