<div class="bio">
<p><img src="{{ site.url }}/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }} bio photo" class="bio-photo"></p>
<p>Hi, I'm (Sir) Cathy Wise 😉 and I have way too many hobbies! On this site you'll find my <a href="/projects">projects</a> and <a href="/apps">apps</a> as well as the <a href="/blog">blog</a> that gets very occasional updates.</p>

<p>In my professional life I'm a software developer so of course you can find me on <a href="http://github.com/{{ site.owner.github }}">Github</a> and <a href="http://stackexchange.com/users/{{ site.owner.stackexchange }}">Stack Overflow</a>. You can also find me on various social networking sites. Listed below in the order I am likely to have updated them:</p>
<ul>
<li><a href="http://twitter.com/{{ site.owner.twitter }}"><i class="fab fa-twitter"></i> Twitter</a></li>
<li><a href="http://{{ site.owner.tumblr }}.tumblr.com"><i class="fab fa-tumblr"></i> Tumblr</a></li>
<li><a href="http://instagram.com/{{ site.owner.instagram }}"><i class="fab fa-instagram"></i> Instagram</a></li>
<li><a href="http://www.flickr.com/photos/{{ site.owner.flickr }}"><i class="fab fa-flickr"></i> Flickr</a></li>
<li><a href="http://linkedin.com/in/{{ site.owner.linkedin }}"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
<li><a href="{{ site.owner.google_plus }}"><i class="fab fa-google-plus"></i> Google+</a></li>
</ul>
</div>
