<nav id="nav" role="navigation">
  <ul>
    {% for link in site.links %}
    <li>
      <a
        href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}"
        {%
        if
        link.external
        %}target="_blank"
        {%
        endif
        %}
        >{{ link.title }}<span class="down">&gt;</span></a
      >
    </li>
    {% endfor %}
    <li>
      <a
        id="random-link"
        data-links='[{% for link in site.links %}{"url":"{{ link.url }}","external":{% if link.external %}true{% else %}false{% endif %}}{% if forloop.last == false %},{% endif %}{% endfor %}]'
        data-site="{{ site.url }}"
        >Shuffle</a
      >
    </li>
  </ul>
</nav>
