html {
    height: 100%;
    background-color: white;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-columns: calc(34px + 0.5rem * 2) auto;
    background-color: white;
    background: url('/images/dotty/bg.png');
    grid-template-rows: calc(44px + 0.5rem) 1fr calc(44px * 2 + 0.5rem);
    /* grid-template-rows: repeat(83, 1fr); */
}

ul[role="menu-bar"] {
    grid-column: 1 / 3;
    padding-left: 0.5rem;
}
.palette.tools {
    border: 0;
    flex-direction: column;
    background: none;
    flex-wrap: nowrap;
}
#win {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.palette.colors {
    grid-column: 1 / 3;
    flex-wrap: nowrap;
    align-items: stretch;
}


.window {
    min-width: unset;
    flex: 1;
    display: flex;
    margin: 0 0.5rem 0.5rem 0;
}
canvas {
    cursor: crosshair;
    touch-action: manipulation;
    image-rendering: pixelated;
    background: repeating-linear-gradient(45deg, silver 0, silver 5px, white 5px, white 10px);
    background-image: url("/images/dotty/bg-20.png");
}
.field-label {
    font-family: Chicago_12;
    display: flex;
    align-items: center;
}
ul[role="menu-bar"] {
    border-bottom: 1px solid black;
    height: 34px;
}
label.field-label {
    justify-content: right;
}
input[type="number"] {
    margin-right: 0.5rem;
    width: 3rem;
    touch-action: manipulation;
}
.modal-grid {
    display: grid; 
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}
.modal-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
#canvas-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: auto;
    flex: 1;
}
input[type="radio"] + label.btn:not(:last-child) {
    margin-right: 18px;
    position: relative;
    touch-action: manipulation;
}
.palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 0.5rem;
}
.palette [class^="field-row"] + [class^="field-row"] {
    margin-top: 0;
}
[role="menu-item"] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
[role="menu-item"]:hover img {
    filter: invert(100%);
}
ul[role="menu"] > [role="menu-item"] > a.disabled {
    color: #b6b7b8;
}
ul[role="menu"] > [role="menu-item"] > label, ul[role="menu"] > [role="menu-item"] > button, ul[role="menu"] > [role="menu-item"][aria-haspopup="true"] {
    all: unset;
    box-sizing: border-box;
    display: block;
    padding: 5px 20px;
    position: relative;
    width: 100%;
}
ul[role="menu"] > [role="menu-item"] > a, ul[role="menu"] > [role="menu-item"] > label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
[role="menu-item"] .shortcut {
    opacity: 0.4;
    font-size: 9pt;
}
.btn.icon-button {
    height: 44px;
    width: 44px;
    padding: 2px;
    min-width: unset;
    min-height: unset;
    display: flex;
    touch-action: manipulation;
    margin: 0;
    border: 0.1rem solid black;
}
.btn.icon-button img, .pixel-icon {
    image-rendering: pixelated;
    flex: 1;
    touch-action: manipulation;
}
.btn.icon-button:disabled img {
    opacity: 0.4;
}
.btn.icon-button:active img, .btn.radio-button:active img {
    filter: invert();
    touch-action: manipulation;
}
fieldset.tools, .tools.actions {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    flex: 1;
    border: 0;
    padding: 0;
    flex-direction: column;
}
.radio-button {
    width: 37px;
    height: 37px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: unset;
    min-height: unset;
    overflow: hidden;
    border: 0;
    display: flex;
}
.btn.radio-button:active {
    border-radius: 0;
    touch-action: manipulation;
}
.tools legend {
    display: none;
}
input[type="radio"] + label.btn, input[type="radio"] + label.btn:not(:last-child) {
    border: 0.1rem solid black;
    margin: 0;
    padding: 2px;
    touch-action: manipulation;
}
input[type="radio"]:checked + label.btn {
    background-color: black;
    touch-action: manipulation;
}
input[type="radio"]:checked + label.btn img {
    filter: invert(100%);
    touch-action: manipulation;
}
input[type="radio"] + label.btn::before, input[type="radio"]:checked + label.btn::after {
    content: none;
}
input[type="color"] {
    min-width: 42px;
    min-height: 42px;
    border: 0.1rem solid black;
    background-color: white;
    padding: 2px;
    touch-action: manipulation;
    border-radius: 0;
    flex: 1;
    aspect-ratio: 1;
}
.active-color {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    gap: 0.2rem;
}
#color-history {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
}
.color-chip.btn.icon-button {
    overflow: hidden;
    border: 0.1rem solid black;
    padding: 2px;
    word-break: break-all;
    font-size: 14px;
    flex-shrink: 0;
    border: 0;
    margin: 0;
    touch-action: manipulation;
    align-items: center;
}
fieldset.resize-mode-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / 3;
}
fieldset.export-size-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1 / 3;
    gap: 0.4rem;
}

.alpha {
    display: none;
}



@media (max-width: 900px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: calc(34px + 0.5rem) calc(44px + 0.5rem) 1fr calc(44px * 2 + 0.5rem);
    }
    .palette.tools {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: unset;
        flex-direction: row;
    }
    fieldset.tools, .tools .actions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: unset;
    }
    fieldset.tools {
        flex-shrink: 0;
    }
    .tools .actions {
        flex-shrink: 1;
        justify-content: end;
    }
    #win {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        margin-left: 0.5rem;
    }
    .palette.colors {
        grid-row: 4 / 5;
    }
}