---
---

:root {
  --background: white;
  --ipod: #eaa8c4;
  --ipod-gradient: linear-gradient(
    to left,
    #e696b7,
    #eaa8c4 10%,
    #eaa8c4 90%,
    #e696b7 100%
  );
  --screen-bg: #839a8e;
  --screen-light-bg: #eef;
  --screen-fg: #06004d;
  --ipod-width: 10cm;
  --ipod-frame: 1cm;
  --screen-inset: 0.3cm;
  --screen-radius: 0.2cm;
  --screen-width: calc(var(--ipod-width) - var(--ipod-frame) * 2 - var(--screen-inset) * 2);
  --screen-height: 6cm;
}

@font-face {
  font-family: 'Espy Sans Revived Nine';
  src: url("{{'/assets/fonts/EspySansRevivedNine-Bold.woff2' | absolute_url}}") format('woff2'),
      url("{{'/assets/fonts/EspySansRevivedNine-Bold.woff' | absolute_url}}") format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Espy Sans Revived Nine';
  src: url("{{'/assets/fonts/EspySansRevivedNine-Regular.woff2' | absolute_url}}") format('woff2'),
      url("{{'/assets/fonts/EspySansRevivedNine-Regular.woff' | absolute_url}}") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco",
    "Helvetica Neue", "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--ipod-gradient);
  margin: 0;
  width: var(--ipod-width);
  height: 20cm;
  margin: 0.5cm;
  position: absolute;
  border-radius: calc(var(--screen-radius)/2);
  box-shadow: .25cm .25cm 1cm rgba(0,0,0,0.25);
}

main {
  width: var(--screen-width);
  border-radius: var(--screen-radius);
  background: var(--screen-bg);
  color: var(--screen-fg);
  padding: var(--screen-inset);
  margin: var(--ipod-frame);
  box-shadow: inset 0 0 var(--screen-inset) var(--screen-fg);
  height: var(--screen-height);
  overflow-y: scroll;
  font-family: 'Espy Sans Revived Nine';
  color: var(--screen-fg);
}

main.prelight {
  --screen-bg: var(--screen-light-bg);
}

main.light {
  --screen-bg: var(--screen-light-bg);
  transition: all 0.5s;
}

.clickwheel {
  background: white;
  background: linear-gradient(to right, #eee, white 100%);
  border: 1px solid #999;
  color: var(--ipod);
  border-radius: 50%;
  aspect-ratio: 1;
  box-shadow: inset 0 0 var(--screen-radius) #ccc;
  width: var(--screen-width);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.clickwheel button {
  color: var(--ipod);
}

#music-status::after {
  content: " ";
  width: 0.5cm;
  display: block;
}

#music-status.playing::after {
  content: "▶";
}

#music-status.paused::after {
  content: "⏸";
}

#center {
  box-shadow: 0 0 var(--screen-radius) #ccc, inset -0.1cm -0.1cm var(--screen-radius) #eee;
  border-radius: 50%;
  border: 0.5px solid #999;
}

#menu {
  align-self: start;
  text-transform: uppercase;
  font-variant: small-caps;
  font-size: smaller;
  font-weight: bold;
}

#back {
  justify-self: start;
}

#forward {
  justify-self: end;
}

#playpause {
  align-self: end;
}


footer {
  width: calc(100% - 3cm);
  bottom: calc(var(--ipod-frame) / 4);
  position: absolute;
  padding: 1em;
  text-align: center;
  font-size: x-small;
  color: white;
}

footer p {
  opacity: 0.75;
}

footer .icons {
  font-size: medium;
  opacity: 1;
  letter-spacing: 0.4cm;
  text-shadow: 0 0 var(--screen-radius) white;
}

a {
  color: var(--screen-fg);
  font-weight: bold;
}

.bio {
  margin: 0;
}

.bio ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.bio ul li {
  margin-right: 1em;
}

nav {
  padding-bottom: 0;
  padding-top: 0.2cm;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
  text-align: left;
  display: block;
}

nav ul li a {
  font-weight: bold;
  color: var(--link);
  text-decoration: none;
  font-weight: bold;
  width: calc(100% - var(--screen-inset) * 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: calc(var(--screen-inset) /1.5) var(--screen-inset) calc(var(--screen-inset) /1.5) var(--screen-inset);
}
nav ul li a.current,
nav ul li a:hover {
  background: var(--screen-fg);
  color: var(--screen-bg);
}

nav ul li a.current {
  background: var(--screen-fg);
  color: var(--screen-bg);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--screen-fg);
  font-weight: bold;
}

header a {
  font-weight: bold;
  text-decoration: none;
}

h1 {
  font-weight: 100;
  font-size: medium;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

h2,
h3 {
  font-weight: bold;
  font-size: medium;
}

subtitle {
  font-size: smaller;
  text-align: center;
  width: 100%;
  display: block;
}

.bio-photo {
  max-width: 100px;
  max-height: 100px;
  min-width: 50px;
  min-height: 50px;
  margin: 0 1rem 1rem 0;
  filter: grayscale();
  display: block;
  font-size: 0.8em;
  flex: 1;
  object-fit: contain;
  float: left;
}

hr {
  border: 0;
  border-top: var(--border-top);
}

table {
  overflow-x: scroll;
  max-width: 100%;
  display: block;
  border-collapse: collapse;
}

td {
  padding: 1em 0.5em;
}

th {
  border-bottom: var(--border-bottom);
}

img {
  max-width: 100%;
  max-height: 100vh;
  display: block;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: auto;
}

button {
  padding: 0.5rem;
  background: transparent;
  color: var(--ipod);
  font-size: larger;
  border: 0;
}

button:hover {
  box-shadow: 3px 8px 0 var(--highlight-trans);
}

button:active {
  box-shadow: 1px 6px 0 var(--highlight-trans);
}

label {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (min-height: 400px) {
  img {
    max-height: 400px;
  }
}
