body {
	font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", "Helvetica", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
	margin: auto;
  max-width: 800px;
}

a {
	color: #a78496;
	text-decoration: none;
	font-weight: normal;
}

h2, h3 {
	font-weight: normal;
	font-size: 1.5em;
	font-weight: 200;
}

.bio-photo {
	border-radius: 50%;
	max-width: 100px;
	max-height: 100px;
	min-width: 50px;
	min-height: 50px;
	display: block;
	font-size: 0.8em;
	flex: 1;
	object-fit: contain;
}

.index, .author-bio-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.author-bio-text h3 {
	margin: 0 0 0.5em 0;
	font-weight: 100;
	font-size: 2.5em;
}

.article-author-side, .author-bio-body, .article-author-bottom {
	display: flex;
	align-items: center;
	flex: 1;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
}

.article-author-side, .article-author-bottom {
	flex-direction: column;
}

.author-bio-body {
	flex-direction: row;
}

.article-author-side > * {
}

.article-author-side > * > * {
	flex: none;
}

.author-bio-body a {
	flex: none;
	margin: 0 1em;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 1em;
	flex-wrap: wrap;
}

nav ul li {
	margin: 0 1em;
	text-align: center;
}

nav ul li a {
	font-size: 1.5em;
	font-weight: 200;
}

nav ul li .linknote, nav ul li .linknote a {
	font-size: 1em;
	font-weight: normal;
}

img {
	max-width: 100%;
}
