<!doctype html>
<head>
{% include _head.html %}
</head>

<body class="home" itemscope itemtype="http://schema.org/WebPage">

<div id="index" itemprop="mainContentOfPage" itemscope>
	<div class="article-author-side">{% include _author-bio.html %}
		<p class="author-bio-para">{{ site.owner.bio }}<br>{{ site.owner.disclaimer}}</p>
	</div>
  {% include _navigation.html %}
  {{ content }}
</div><!-- /#index -->


<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>