<!doctype html>
<head>
{% include _head.html %}
</head>

<body class="page" itemscope itemtype="http://schema.org/WebPage">

{% include _navigation.html %}

<div id="main" role="main"  itemprop="mainContentOfPage">
  <article itemscope itemtype="http://schema.org/CreativeWork">
    <h1 itemprop="name">{{ page.title }}</h1>
    <h2>{{ page.tagline }}</h2>
    <div class="article-wrap" itemprop="text">
      {{ content }}
    </div><!-- /.article-wrap -->
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>